<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:exam_id) %></th>
      <th><%= model_class.human_attribute_name(:group_number) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:num_selection) %></th>
      <th>
        <%= button_to 'Difficulty Re-calc', recalc_path,
        :method => 'get',
        :class => 'btn btn-mini btn-info' %>
        <%= model_class.human_attribute_name(:difficulty) %>
      </th>
      <th>
        <%= model_class.human_attribute_name(:sample_size) %>
      </th>
      <th><%= model_class.human_attribute_name(:xml) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.id, question_path(question) %></td>
        <td><%= question.exam_id %></td>
        <td><%= question.group_number %></td>
        <td><%= question.number %></td>
        <td><%= question.num_selection %></td>
        <td><%= question.difficulty %></td>
        <td><%= question.sample_size %></td>
        <td><%= question.xml %></td>
        <td><%=l question.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_question_path(question), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
